section {
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    gap: 30px;
}
section article {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    height: auto;
    width: 20em;
    border-radius: 10px;
    padding: 20px;
}
article h3{ 
    margin: 0px;
    color: #004c3f;
}
article button {
    background-color: rgb(113, 201, 246);
    font-size: 1em;
    font-weight: bold;
    height: 30px;
    width: 100px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.4s ease;
}
article button:hover{
    background-color: #004c3f;
    color: white;
}