.gallery {
    display: flex;
    gap: 60px;
    flex-wrap: wrap;
    margin: 50px;
}
.gallery-item {
    width: 20em;
    height: 10em;
    box-sizing: border-box;
    background-color: white;
    border-radius: 10px;
    padding: 50px;
}