.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85vw;
  margin: 50px;
}
form {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 40vh;
  gap: 20px;
  padding: 30px;
  border-radius: 10px;
  font-size: large;
}
input {
    height: 30px;
}
input[type="submit"] {
  background-color: #04aa6d;
  width: 10vw;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
